<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <title>Home</title>
</head>

<body>
    <navbar>
        <h6>ANN-Playground</h6>
    </navbar>
    <div id="drop_zone">
        <div class="icon"><i class="material-icons">cloud_upload</i></div>
        <h2 class="header">Drag csv file here</h2>
        <p id="info" class="hidden"></p>
        <h3 id="or">OR</h3>

        <button id="browse-btn">Browse File</button>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="file" id="file" name="file" hidden>
        </form>
    </div>
    <div class="meta-info hidden">
        <h3>Shape:</h3>
        <h5 class="shape"></h5>
        <h3>Head:</h3>
        <div class="csv-head-div"></div>
        <div class="input-range">
            <div>
                <h3>Number of Samples:</h3>
                <input type="number" id="n-rows" name="n-rows" required>
            </div>
            <div>
                <h3>Drop:</h3>
                <input type="text" name="drop_list" id="drop_list" placeholder='Enter Columns ("," seperated)'
                    autocomplete="off">
            </div>
            <div class="cat_input hidden">
                <h3>Categorical columns:</h3>
                <input type="text" name="cat_list" id="cat_list" placeholder='Enter Columns ("," seperated)'
                    autocomplete="off">
            </div>
            <div class="other-inputs">
                <div>
                    <h3>X:</h3>
                    <div class="X-input">
                        <h5>From</h5>
                        <input type="number" name="X_start" id="X_start">
                        <h5>To</h5>
                        <input type="number" name="X_end" id="X_end">
                    </div>
                </div>
                <div>
                    <h3>Y:</h3>
                    <input type="number" name="Y_col" id="Y_col">
                </div>
                <div>
                    <h3>Classification:</h3>
                    <input type="radio" id="binary" name="classification" value="binary" checked>
                    <label for="binary">Binary</label><br>
                    <input type="radio" id="multiclass" name="classification" value="multiclass">
                    <label for="multiclass">Multiclass</label><br>
                </div>
                <div>
                    <h3>Number of Classes:</h3>
                    <input type="number" name="n_class" id="n_class" value="2">
                </div>
                <div>
                    <h3>Test Size:</h3>
                    <input type="number" name="test_size" id="test_size" value="20">
                </div>
            </div>
        </div>
        <button class="primary-button next" id="save-drop_list">Next</button>
    </div>

</body>
<script src="{% static 'js/home.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</html>